.section{
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.fab {
  margin: 15px;
}

.center{
  margin: auto;
  text-align: center;
}

.page-width{
  width: 60%;
}

.avatar{
  width: 100px;
  border-radius: 50px;
}


.body{
  background-image: url("../Images/map.jpeg")
}

#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    position: absolute;
}


.header-overlay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100
    padding: 20px;
    z-index: 99999999999;
}

.video-margin{
  margin-top: 350px;
}

.copy{
  margin-top: 200px;
}


.landing-page-copy{
  color: white;
}
